@import url('https://fonts.cdnfonts.com/css/recoleta');

* {
    font-family: 'Recoleta';
    padding: 10px;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: fit-content fit-content(100px) 8fr;
    grid-template-columns: fit-content(100px) 6fr;
    grid-row-gap: 0px;
    grid-column-gap: 3px;
    height: fit-content;
    background: url(Pictures/pastel7.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #00426a;


}

.mainContainer {
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 10px 40px;
}

.sidebar {
    grid-row: 1/7;
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer {
    font-size: 15px;
    text-align: center;
    padding: 20px 0;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.sidebar .list {
    list-style: none;
}

.sidebar .list li a {
    display: block;
    color: white;
    text-decoration: none;
    line-height: 3px;
}

.sidebar .list li a:hover {
    font-weight: 700;
}

img {
    width: 70px;
    padding: 0;
    margin-bottom: 20px;
}



.dashboard {
    height: fit-content;
    text-align: left;
    color: white;
    line-height: 15px;
}

.dashboard h1 {
    font-size: 2.5em;
}

.dashboard p {
    font-style: italic;
}


.dashboardNav {
    height: fit-content;
}

.dashboardNav a {
    font-weight: 500;
    text-decoration: none;
    color: #0A2342;
    margin-left: 20px;
}

.dashboardNav a:hover {
    font-weight: 500;
    text-decoration: underline;
    color: white;
}

.dashboardNav a.active {
    font-weight: bolder;
    color: #cc3857;
    background-color: #f6e1e1;
    border: #f6e1e1 3px solid;
    border-radius: 10px;
    padding-bottom: 30px;
}

.theBody {
    background-color: #f6e1e1;
    border-radius: 10px;
    padding: 1px;
    padding-top: 10px;
}

.theBody h1 {
    text-align: center;
}

.theBody .development-entry {
    text-align: center;
}

.theBody .developmentData {
    width: 40%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #cc385882;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.theBody .date {
    width: 40%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #cc385882;
    border-radius: 40px;
    font-size: 16px;
    color: rgb(75, 75, 75);
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.theBody .task-assignee {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-row-gap: 5px;
}

.theBody .adding {
    text-align: center;
}

.adding .Add {
    width: 80%;
    height: 45px;
    background: #cc3857;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.Add:hover {
    border: dotted white;
}




.theList {
    width: 95%;
    margin: 10px auto;
    padding: 20px 10px;
    border-radius: 10px;
    line-height: 2px;

}

.theList .dataAdded {
    width: 95%;
    margin: 10px auto;
    padding: 30px 20px;
    border-radius: 20px;
    color: #e3dada;
    background-color: #00426a;
    position: relative;

}

.theList h1 {
    color: #00426a;
    padding: 30px;
}

.dataAdded h2 {
    padding: 5px 0px;
    font-size: 20px;
    line-height: 25px;
    display: inline-block;
    vertical-align: middle;
}



.dataAdded i {
    display: inline;
    transform: translateY(-50%);
    font-size: 30px;
    color: #e3dada;
    padding: 2px 2px;
}

.dataAdded a {
    text-decoration: none;
}

.dataAdded i:hover {
    color: #cc3857;
}

.dataAdded .editDelete {
    text-align: right;
}

/* Responsive Design On smaller screens */
@media only screen and (max-width: 768px) {

    * {
        padding: 5px;
    }



    .mainContainer {
        grid-row: span 1;
        grid-column: 1/7;
        backdrop-filter: blur(30px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        padding: 10px 40px;
    }

    .dashboard {
        height: fit-content;
        line-height: 12px;
    }

    .theBody {
        background-color: #f6e1e1;
        border-radius: 10px;
        padding: 1px;
        padding-top: 5px;
    }

    .sidebar {
        grid-row: 5/6;
        grid-column: span 6;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        padding: 20px 0;
        backdrop-filter: blur(30px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
    }


    img {
        width: 40px;
        padding: 0;
        margin-bottom: 1px;
    }

    .sidebar .list li a {
        line-height: 1px;
    }


    .dashboard h1 {
        font-size: 2em;
    }



    .dashboardNav {
        height: fit-content;
    }


    .dashboardNav a {
        font-size: 0.8em;
        text-decoration: none;
        color: #0A2342;
        margin-left: 0px;
    }

    .dashboardNav a:hover {
        font-weight: 300;
    }

    .dashboardNav a.active {
        border: #f6e1e1 2px solid;
    }

    .theBody h1 {
        font-size: 1.25em;
        padding: 10px;
    }

    /* The form */

    .theBody .developmentData {
        font-size: 0.6em;
        padding: 5px 5px 5px 5px;
    }

    .adding .Add {
        height: 25px;
        font-size: 0.8em;
        font-weight: 300;
    }

    /* _______________________________________________________________________________________ */
    /* data listed  */

    .theList {
        width: 95%;
        margin: 0;
        padding: 10px 10px;
        align-items: center
    }

    .theList .dataAdded {
        margin-top: 2px;
        padding: 10px;
        width: 80%;
    }

    .theList h1 {
        padding: 10px 5px;
    }

    .dataAdded h2 {
        font-size: 1em;
        line-height: 12px;
    }

    .dataAdded p {
        font-weight: 100;
        font-size: 0.7em;
    }

    .dataAdded i {
        font-size: 20px;
        padding: 1px 1px;
    }

    /* ______________________________________________________________________________________ */
    footer {
        grid-row: 6/7;
        grid-column: span 6;
        width: 100%;
        color: #e3dada;
        padding: 10px 0;
        font-size: 10px;
    }


}